
blockquote, .post-password-form label,
a:hover, a:focus, a:active, .post-navigation
.meta-nav, .image-navigation, .comment-navigation,
.widget_recent_entries .post-date, .widget_rss .rss-date,
.widget_rss cite, .site-description,
.author-bio, .entry-footer, .entry-footer a,
.sticky-post, .taxonomy-description,
.entry-caption, .comment-metadata,
.pingback .edit-link, .comment-metadata a, .pingback .comment-edit-link,
.comment-form label, .comment-notes,
.comment-awaiting-moderation, .logged-in-as,
.form-allowed-tags, .site-info, .site-info a,
.wp-caption .wp-caption-text, .gallery-caption,
.widecolumn label, .widecolumn .mu_register label {
 color: #c1c1c1 !important;
}

body, blockquote cite, blockquote small,
.main-navigation a, .menu-toggle, .dropdown-toggle,
.social-navigation a, .post-navigation a, .pagination a:hover,
.pagination a:focus, .widget-title a, .site-branding .site-title a,
.entry-title a, .page-links>.page-links-title, .comment-author,
.comment-reply-title small a:hover, .comment-reply-title small a:focus {
 color: #e5e5e5 !important;
}

body {
 background-color: #111 !important;
 background: #111 !important;
}
a {
	color: #a2d7fa !important;
}
.site {
 background-color: #2C2C2C !important;
}
.widget-area {
	background-color: rgba(0, 0, 0, 0) !important;
}
.widget-area .widget_recent_entries  ul li::after,
.widget-area .widget_recent_comments ul li::after,
.widget-area .widget_archive         ul li::after,
.widget-area .widget_categories      ul li::after,
.widget-area .widget_meta            ul li::after {
	border-right: 3px solid #666;
	border-bottom: 3px solid #666;
}

/* Gistダークテーマ */
/* Line Numbers */
.gist-data tbody td:nth-of-type(1) {
	color: #666 !important;
}
/* Code */
.gist-data tbody td:nth-of-type(2){
	color: #ddd !important;
}
/* All & Footer & body */
.gist-data, .gist-data table, .gist-data tbody {
	background-color: #333 !important;
	color: #ccc !important;
}
.gist-meta, .gist-meta * {
	background-color: #393939 !important;
	color: #ccc !important;
}
.gist {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #ccc !important;
}
.gist, .gist-data, .gist-data table td, .gist-file, .gist-meta {
	border: 1px solid rgba(0, 0, 0, 0) !important;
}
/* Comments */
.pl-c
{
	color: #57A64A !important;
}
/* Function */
.pl-k
{
	color: rgb(229, 173, 255) !important;
}
/* Function Name */
.pl-en
{
	color: rgb(255, 173, 230) !important;
}
/* Function Method */
.pl-c1
{
	color: rgb(255, 196, 196) !important;
}
/* "'s around Strings */
.pl-pds
{
	color: rgb(204, 173, 255)  !important;
}
/* Strings */
.pl-s
{
	color: rgb(204, 173, 255)  !important;
}
/* val */
.pl-smi
{
	color: rgb(159, 193, 255) !important;
}

.tbl {
	background-color: #616161 !important;
}
.tbl th,
.tbl td {
	border-color: #424242 !important;
}
.tbl th {
	background-color: #757575 !important;
}